<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>775073450454-dl8fg5q26ope8gmh6jv3ol43qred4i3j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.775073450454-dl8fg5q26ope8gmh6jv3ol43qred4i3j</string>
	<key>API_KEY</key>
	<string>AIzaSyATJfSiRbHy5drGGAxKTXRHRIoQ4IJSLhg</string>
	<key>GCM_SENDER_ID</key>
	<string>775073450454</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.adilayoub.myteacher</string>
	<key>PROJECT_ID</key>
	<string>myteacherapplicatonadilayoub</string>
	<key>STORAGE_BUCKET</key>
	<string>myteacherapplicatonadilayoub.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:775073450454:ios:8e37166b37ff34cf9bbc77</string>
</dict>
</plist>